.DayPicker {
  display: inline-block;
}

.DayPicker-wrapper {
  position: relative;
  user-select: none;
  padding-bottom: 1rem;
  flex-direction: row;
}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem;
  margin-top: 1rem;
}

.DayPicker-NavBar {
}

.DayPicker-NavButton {
  position: absolute;
  cursor: pointer;

  margin-top: 2px;
  color: #8b9898;
  width: 40px;
  height: 32px;
  display: inline-block;

  background-repeat: no-repeat;
  background-position: center;
}

.DayPicker-NavButton:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 762px) {
  .DayPicker-NavButton--prev {
    top: 32px;
    left: 26px;
    background-image: url(../Homes/ModalUI/left.svg);
  }
}

.DayPicker-NavButton--next {
}

@media only screen and (min-width: 762px) {
  .DayPicker-NavButton--next {
    top: 32px;
    right: 27px;
    background-image: url(../Homes/ModalUI/right.svg);
  }
}

.DayPicker-NavButton--interactionDisabled {
}

.DayPicker-Caption {
  padding: 0 0.5rem;
  display: table-caption;
  text-align: center;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 762px) {
  .DayPicker-Caption {
    padding: 0 0.5rem;
    display: table-caption;
    text-align: center;
    margin-bottom: 21px;
    margin-top: 23px;
  }
}

.DayPicker-Caption > div {
  font-size: 1.15rem;
  font-weight: 500;
  font-family: CircularAir;
  line-height: normal;
  font-size: 18px;
  font-weight: bold;
  color: #383838;
}

.DayPicker-Weekdays {
  margin-top: 1rem;
  display: table-header-group;
  background: #ffffff;
  box-shadow: 0px 0.5px 0px rgba(72, 72, 72, 0.3);
}

@media only screen and (min-width: 320px) {
  .DayPicker-Month:last-child .DayPicker-Weekdays {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .DayPicker-Month:last-child .DayPicker-Weekdays {
    display: table-header-group;
  }
}

.DayPicker-WeekdaysRow {
  display: table-row;
}

.DayPicker-Weekday {
  display: table-cell;

  text-align: center;
  color: #8b9898;
  font-family: CircularAir;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  padding-bottom: 4px;
  color: #636363;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Body {
  display: table-row-group;
}

.DayPicker-Week {
  display: table-row;
}

.DayPicker-Day {
  display: table-cell;

  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  width: 44px;
  height: 44px;
  font-family: CircularAir;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  border: 1px solid #d5d5d5;
  color: #383838;
  background: white;
}

.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5rem;
  text-align: right;
  vertical-align: middle;
  min-width: 1rem;
  font-size: 0.75em;
  cursor: pointer;
  color: #8b9898;
  border-right: 1px solid #eaecec;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Footer {
  padding-top: 0.5rem;
}

.DayPicker-TodayButton {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  color: #4a90e2;
  font-size: 0.875em;
}

/* Default modifiers */

.DayPicker-Day--today {
  color: #383838;
}

.DayPicker-Day--outside {
  cursor: default;
  color: #8b9898;
  border: none;
}

.DayPicker-Day--disabled {
  color: #cbcbcb;
  cursor: default;
  /* background-color: #eff1f1; */
}

/* Example modifiers */

.DayPicker-Day--sunday {
  background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  background: rgba(0, 132, 137, 0.1);
  border: 1px solid #9cd9d9;
  box-sizing: border-box;
  color: #383838;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #ffffff;
}

.DayPicker-Day--edgeDays:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: #ffffff;
  background: #008489;
  border: 1px solid #008489;
  box-sizing: border-box;
}

/* DayPickerInput */

.DayPickerInput {
  display: inline-block;
}

.DayPickerInput-OverlayWrapper {
  position: relative;
}

.DayPickerInput-Overlay {
  left: 0;
  z-index: 1;
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
